---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<header class="header header_component_global">
  <div class="header__icon" aria-hidden="true">
    <img
      src="/assets/icons/icon.svg"
      role="presentation"
      width="48"
      height="48"
      alt="icon"
      loading="lazy"
    />
  </div>
  <h1 class="header__title header__title">
    <a href="<%= config.root %>">{SITE_TITLE}</a>
  </h1>
  <p class="header__description">{SITE_DESCRIPTION}</p>
  <nav class="navigation navigation-global">
    <a href="<%= config.root %>" class="navigation__link">📘 最新のメモ</a>
  </nav>
</header>
